.label-green{
    background:#5FB878;
}
.label-cyan{
    background: #2F4056;
}
.label-blue{
    background: #1E9FFF;
}
.label-orange{
    background: #FFB800;
}
.label-red{
    background: #FF5722;
}