<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>动漫广场</title>

        <link rel="stylesheet" href="/layui/css/mylayui.css">
        <link rel="stylesheet" href="/mycss/box.css"/>
        <link rel="stylesheet" href="/mycss/text.css"/>
        <link rel="stylesheet" href="/mycss/label.css"/>
        <link rel="stylesheet" href="/mycss/ul.css"/>

        <style>
            body{
                background: #eeeeee;
            }
        </style>
    </head>
    <body>
        <div style="background: url(/image/picture1.jpg);background-position: center;background-repeat: no-repeat;background-size:100% 100%">
            <div class="layui-header header header-doc layui-nav" autumn style="background: rgba(255,255,255,0.8);">
                    <ul class="" lay-filter="" style="float: left;">
                        <li class="layui-nav-item"><a href=""><span class="black-color">首页</span></a></li>
                        <li class="layui-nav-item"><a href=""><span class="black-color">我的动态</span></a></li>
                        <li class="layui-nav-item"><a href=""><span class="black-color">发现</span></a></li>
                        <li class="layui-nav-item layui-this"><a href=""><span class="black-color">动漫广场</span></a></li>
                        <li class="layui-nav-item"><a href=""><span class="black-color">动漫视频</span></a></li>
                    </ul>
                    <ul class="" lay-filter="" style="float: right;">
                        <li class="layui-nav-item"><a href=""><span class="black-color">提醒</span></a></li>
                        <li class="layui-nav-item"><a href=""><span class="black-color">私信</span></a></li>
                        <li class="layui-nav-item"><a href=""><span class="black-color">XXX的账号</span></a></li>
                    </ul>
            </div>
            <div class="picture-container" >
                <div style="float:right;width: 400px;height: 200px;">
                    <div style="width: 400px;height: 130px;"></div>
                    <div style="width: 400px;height: 20px;">
                        <button type="button" class="layui-btn layui-btn-normal">标签搜索</button>
                        <div class="layui-inline" style="border:solid 1px gray;background-color: white;">
                            <div class="layui-input-inline">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入标签..." autocomplete="off" class="layui-input" style="border: 0;"> 
                            </div>
                            <button class="layui-icon layui-btn" type="button" style="font-size: 25px;color: #7b7b7b;background-color: white;">&#xe615;</button> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-container">
            <div class="layui-col-md8">
                <div class="anime-box" th:each="animeTopic,iterStat:${animeTopics}">
                    <div class="anime-photo-box">
                        <img style="width: 150px;height: 200px;" th:src="@{image/anime_small_photo/{picture}.jpg(picture=${animeTopic.animeSmallPhoto})}"/>
                    </div>
                    <div class="anime-content-box">
                        <div style="margin: 15px;"><label class="mycss-text" th:text="${animeTopic.animeName}">欢迎来到实力至上主义的教室</label></div>
                        <div style="margin: 15px;"><p th:text="${animeTopic.animeProfile}">真正的实力，平等究竟是什么？
                            几乎百分之百实现升学、就业目标的全国首屈一指的名门校──高度育成高等学校。
                            这间简直如同乐园般的学校，真面目却是唯有优秀者才能享受优待的实力至上主义学校！绫小路清隆被分配到最底层的D班。
                            在那里，他遇见了成绩优异个性却超难搞的美少女──堀北铃音，和由体贴与温柔所构成，天使般的少女──栉田桔梗。
                            与她们的相遇，使清隆的态度逐渐改变。</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div>
                    筛选
                    <div>
                        <ul class="ul-inline">
                            <li class="li-inline">地区</li>
                            <li class="location myui-this li-inline">全部</li>
                            <li class="location li-inline">日本</li>
                            <li class="location li-inline">美国</li>
                            <li class="location li-inline">其他</li>
                        </ul> 
                    </div>
                    <div>
                        <ul class="ul-inline">
                            <li class="li-inline">季度</li>
                            <li class="season li-inline myui-this">全部</li>
                            <li class="season li-inline">1月</li>
                            <li class="season li-inline">4月</li>
                            <li class="season li-inline">7月</li>
                            <li class="season li-inline">10月</li>
                        </ul>
                    </div>
                    <div>
                        <ul class="ul-inline">
                            <li class="li-inline">时间</li>
                            <li class="time li-inline myui-this">全部</li>
                            <li class="time li-inline">2019</li>
                            <li class="time li-inline">2018</li>
                            <li class="time li-inline">2017</li>
                            <li class="time li-inline">2016</li>
                        </ul>
                        <ul class="ul-inline">
                            <li class="time li-inline">2015</li>
                            <li class="time li-inline">2014-2010</li>
                            <li class="time li-inline">2009-2005</li>
                            <li class="time li-inline">2004-2000</li>
                        </ul>
                    </div>
                    <div>
                                                
                        <ul class="ul-inline">
                                <li class="li-inline">风格</li>
                                <li class="type li-inline myui-this">全部</li>
                                <li class="type li-inline">原创</li>
                                <li class="type li-inline">漫画改</li>
                                <li class="type li-inline">小说改</li>
                                <li class="type li-inline">布袋戏</li>
                        </ul>
                        <ul class="ul-inline">
                                <li class="type li-inline">热血</li>
                                <li class="type li-inline">穿越</li>
                                <li class="type li-inline">奇幻</li>
                                <li class="type li-inline">战斗</li>
                                <li class="type li-inline">搞笑</li>
                                <li class="type li-inline">日常</li>
                                <li class="type li-inline">科幻</li>
                        </ul>
                        <ul class="ul-inline">
                                <li class="type li-inline">萌系</li>
                                <li class="type li-inline">治愈</li>
                                <li class="type li-inline">校园</li>
                                <li class="type li-inline">少儿</li>
                                <li class="type li-inline">泡面</li>
                                <li class="type li-inline">恋爱</li>
                                <li class="type li-inline">少女</li>

                        </ul>
                        <ul class="ul-inline">
                                <li class="type li-inline">魔法</li>
                                <li class="type li-inline">冒险</li>
                                <li class="type li-inline">历史</li>
                                <li class="type li-inline">架空</li>
                                <li class="type li-inline">机战</li>
                                <li class="type li-inline">神魔</li>
                                <li class="type li-inline">声控</li>
                        </ul>
                        <ul class="ul-inline">
                                <li class="type li-inline">运动</li>
                                <li class="type li-inline">励志</li>
                                <li class="type li-inline">音乐</li>
                                <li class="type li-inline">推理</li>
                                <li class="type li-inline">社团</li>
                                <li class="type li-inline">智斗</li>
                                <li class="type li-inline">催泪</li>
                        </ul>
                        <ul class="ul-inline">
                                <li class="type li-inline">美食</li>
                                <li class="type li-inline">偶像</li>
                                <li class="type li-inline">乙女</li>
                                <li class="type li-inline">职场</li>
                            </ul>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div id="pages" style="text-align: center;"></div>
        </div>
        <script type="text/javascript" src="/layui/layui.js"></script>
        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function(){
                var element = layui.element;
            });
            layui.use(['laypage','layer'],function(){
                var laypage = layui.laypage
                    ,layer = layui.layer;

                laypage.render({
                    elem:'pages',
                    count:70,
                    theme: '#1E9FFF',
                    prev:'<em>←</em>',
                    next:'<em>→</em>',
                    jump:function(obj){
                        console.log(obj)
                    }
                });
            });

        </script>
        <script type="text/javascript" src="myjs/select.js"></script>
    </body>
</html>